body {
    background-color: #2179c2e5;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 80px;
    color: #000000;
}

p {
    font-size: 20px;
}

#trfeu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reinitialiser {
    width: 120px;
    height: 25px;
    font-size: 16px;
    background-color: #2d2199;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.enlever {
    width: 50px;
    height: 25px;
    font-size: 16px;
    background-color: #2d2199;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;   
}